<div class="row pt-5">
    <div class="col-md-6 mx-auto">
        <div class="alert alert-danger" *ngIf="errorMsg">
            {{errorMsg}}
        </div>        
        <div class="card rounded-0" *ngIf = "!submitted">
            <div class="card-header">
                <h3 class="mb-0">Create User (RF)</h3>
            </div>
            <div class="card-body">
                <!-- {{createUserForm.value | json}} -->
                <form [formGroup] = "createUserForm"  #createForm = "ngForm" (ngSubmit)="createUser(createForm)" novalidate>
                    <div class="form-group">
                        <label for="">Username</label>
                        <input formControlName = "userName" name="userName" 
                        [class.is-invalid] = "userName.invalid && userName.touched"
                        type="text" class="form-control" required>
                        <!-- <small [class.d-none] = "createUserForm.get('userName').valid || createUserForm.get('userName').untouched" class= "text-danger">Username is required.</small> -->
                        <div *ngIf= "userName.invalid && userName.touched">
                            <small *ngIf = "userName.errors?.required" class="text-danger">Username is required.</small>
                            <small *ngIf = "userName.errors?.minlength" class="text-danger">Username must be at least 5 characters.</small>
                            <small *ngIf = "userName.errors?.forbiddenName" class="text-danger">{{userName.errors?.forbiddenName.value}} Username not allowed.</small>
                            <!-- <small *ngIf = "userName.errors?.forbiddenName" class="text-danger">{{userName.errors?.forbiddenName.value}} Username not allowed.</small> --> 
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <button type = "button" class="btn btn-secondary btn-sm m-2" (click)= "addalternetEmail()" >Add e-mail</button>
                        <input [class.is-invalid] = "email.invalid && email.touched" type="text" formControlName = "email" class="form-control">
                        <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is required.</small>
                        <div formArrayName="alternetEmails" *ngFor="let email of alternetEmails.controls; let i=index">
                            <input type="text" class="form-control my-1" [formControlName]="i">
                        </div>
                    </div>
                    <div class="form-check mb-3">
                        <input type="checkbox" formControlName = "subscribe" class="form-check-input">
                        <label for="" class="form-check-label">Send me promotional offers.</label>
                    </div>
                    <div class="form-group">
                        <label for="">Password</label>
                        <input formControlName = "password" name="password" 
                        type="password" class="form-control rounded-0" required>
                    </div>
                    <div class="form-group">
                        <label for="">Confirm Password</label>
                        <input formControlName = "confirmPassword" name="confirmPassword" 
                        [class.is-invalid] = "createUserForm.errors?.misMatch"
                        type="password" class="form-control rounded-0" required>
                        <small class="text-danger" *ngIf = "createUserForm.errors?.misMatch">Password do not match.</small>
                    </div>
                    <div formGroupName = "address">
                        <div class="form-group">
                            <label for="">City</label>
                            <input formControlName = "city" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">State</label>
                            <input formControlName = "state" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">Postal Code</label>
                            <input formControlName = "postalCode" type="text" class="form-control">
                        </div>
                    </div>
                    <button [disabled]="createForm.form.invalid" (click)="createUser(createForm)" type="button" class="btn btn-primary float-right">Create User</button>
                    <button (click)="loadApiData()" class="btn btn-secondary ml-2" type = "button">Load API Data</button>
                </form>
                <!-- <form #createForm = "ngForm" (ngSubmit)="createUser(createForm)" novalidate>
                    <div class="form-group">
                        <label for="">Username</label>
                        <input [(ngModel)] = "createUserModel.userName" name="userName" 
                        #userName="ngModel" [class.is-invalid]="userName.invalid && userName.touched" 
                        type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="">Password</label>
                        <input [(ngModel)] = "createUserModel.password" name="password" 
                        #password="ngModel" [class.is-invalid]="password.invalid && password.touched" 
                        type="password" class="form-control rounded-0" required>
                    </div>
                    <div class="form-group">
                        <label for="">Confirm Password</label>
                        <input [(ngModel)] = "createUserModel.confirmPassword" name="confirmPassword" 
                        #confirmPassword="ngModel" [class.is-invalid]="confirmPassword.invalid && confirmPassword.touched" 
                        type="confirmPassword" class="form-control rounded-0" required>
                    </div>

                    <button [disabled]="createForm.form.invalid" (click)="createUser(createForm)" type="button" class="btn btn-primary float-right">Create User</button>
                </form> -->
            </div>
        </div>
    </div>
</div>