<div class="row pt-5">
    <div class="col-md-6 mx-auto">
        <div class="alert alert-danger" *ngIf="errorMsg">
            {{errorMsg}}
        </div>        
        <div class="card rounded-0" *ngIf = "!submitted">
            <div class="card-header">
                <h3 class="mb-0">Register (TDF)</h3>
            </div>
            <div class="card-body">
                <form #userForm = "ngForm" (ngSubmit)="registerUser()" novalidate>
                    <div class="form-group">
                        <label>Name</label>
                        <input [(ngModel)] = "registerUserModel.name" name="name" 
                        #name="ngModel" [class.is-invalid]="name.invalid && name.touched" 
                        type="text"  class="form-control" required>
                        <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required.</small>
                    </div>
                    <div class="form-group">
                        <label for="">Email</label>
                        <input [(ngModel)] = "registerUserModel.email" name="email" 
                        #email="ngModel" [class.is-invalid]="email.invalid && email.touched" 
                        type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <input [(ngModel)] = "registerUserModel.phone" name="phone" 
                        #phone="ngModel" [class.is-invalid]="phone.invalid && phone.touched" 
                        pattern="^\d{10}$" type="text" class="form-control" required>
                        <!-- <small class="text-danger" [class.d-none]="phone.valid || phone.untouched">Phone number must be 10 digit.</small> -->
                        <div *ngIf="phone.errors && (phone.valid || phone.untouched)">
                            <small class="text-danger" *ngIf="phone.errors.required">Phone number is required.</small>
                            <small class="text-danger" *ngIf="phone.errors.pattern">Phone number must be 10 digit.</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <select (blur)="validateTopic(topic.value)" (change)="validateTopic(topic.value)" 
                        #topic="ngModel" [class.is-invalid]="topicHasError" 
                        [(ngModel)] = "registerUserModel.topic" name="topic"
                         class="custom-select">
                            <option value="default">I am interested in</option>
                            <option *ngFor= "let topic of topics">{{ topic }}</option>                        
                        </select>
                        <small class="text-danger" [class.d-none]="!topicHasError || topic.untouched">Please choose a topic.</small>
                    </div>
                    <div class="mb-3">
                        <label>Time Preference</label>
                        <div class="form-check">
                            <input [(ngModel)] = "registerUserModel.timePreferance" name="timePreferance" 
                            value = "morning" type="radio" class="form-check-input" required>
                            <label class="form-check-label">Morning (9AM - 12PM)</label>    
                        </div>
                        <div class="form-check">
                            <input [(ngModel)] = "registerUserModel.timePreferance" name="timePreferance" 
                            value = "evening" type="radio" class="form-check-input" required>
                            <label class="form-check-label">Morning (9AM - 12PM)</label>    
                        </div>                        
                    </div>
                    <div class="form-check mb-3">
                        <input [(ngModel)] = "registerUserModel.subscribe" name="subscribe" 
                        type="checkbox" class="form-check-input" required>
                        <label class="form-check-label">Send me promotional offers</label>
                    </div>
                    <div class="form-group">
                        <label for="">Password</label>
                        <input [(ngModel)] = "registerUserModel.password" name="password" 
                        #password="ngModel" [class.is-invalid]="password.invalid && password.touched" 
                        type="password" class="form-control rounded-0" required>
                    </div>

                    <button [disabled]="userForm.form.invalid || topicHasError" (click)="registerUser()" type="button" class="btn btn-primary float-right">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>